/* reset */
body{margin: 0;padding: 0;}
ul{}
li{display: block;}
/* fin reset */

@font-face {
  font-family: gobmx;
  src: url(../../gobmx/GMX.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../../gobmx/Montserrat/Montserrat-Regular.ttf);
}

* {font-family: Montserrat, "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}

body{
	background-color: #aaccf0;
}

/* menu */
#gaceta-menu{
	display: block;
	padding: 5px;
}
#gaceta-menu ul{
	display: block;
	border: 1px solid black;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
#gaceta-menu ul li{
	border: 1px solid;
	display: inline-block;
	float: right;
	margin-right: 10px;
}
#gaceta-menu ul li a{
	text-decoration:none;
	display: block;
	padding: 10px;
}
#gaceta-menu ul li a:hover{
	background-color: #ffcccc;
}
#gaceta-menu ul ul{
	display: none;
	position: absolute;
	width: 250px;
	background-color: #ccffcc;
}
#gaceta-menu ul li:hover ul{display: block;}
#gaceta-menu ul ul li{
	display: block;
	float: none;
	padding: 0;
	margin:0;
}

/* fin menu */
